page-gdetails {
    .toolbar-background{
        // background:  linear-gradient(to bottom, #009e8e,#05e4cd);
        background: linear-gradient(to bottom,#9d9d9e, #d8d8d8) !important;
     }
     .scroll-content{
        background: none;;
        opacity: 1;
    }
}
