page-login {
    
}

.contentLogin{
    background: url("../assets/imgs/loginBg2.png")no-repeat!important;
    background-size: cover;
}
.scroll-content{
    background: linear-gradient(to bottom,#7cbce0, #211e1e);
    opacity: 0.9;
}
.item{
    background: none!important;
    color: #ffffff!important;
}
.item-input .label-md, .item-select .label-md, .item-datetime .label-md{
    color: #ffffff!important;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px #47c5ff;
}
.item-input-has-focus .label-md[stacked], .input-has-focus .label-md[stacked], .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
    color: #ececec!important;
}
.item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner{
    box-shadow: inset 0 -1px 0 0 #ececec!important;
    border-bottom-color: #ececec!important;
}